@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #f0fdf4, #d1fae5); /* мягкий зелёный градиент */
  color: #1f2937; /* тёмно-серый текст */
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
